body {
  margin:0px;
  background-color:rgba(153, 153, 153, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10268 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10269_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:51px;
}
#u10269 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:130px;
  width:1200px;
  height:50px;
}
#u10269_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10270_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u10270 {
  border-width:0px;
  position:absolute;
  left:1164px;
  top:144px;
  width:22px;
  height:22px;
}
#u10270_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10271_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u10271 {
  border-width:0px;
  position:absolute;
  left:1022px;
  top:143px;
  width:22px;
  height:22px;
}
#u10271_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10272 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10273_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u10273 {
  border-width:0px;
  position:absolute;
  left:1054px;
  top:143px;
  width:22px;
  height:22px;
}
#u10273_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10274_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u10274 {
  border-width:0px;
  position:absolute;
  left:1086px;
  top:145px;
  width:26px;
  height:18px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u10274_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u10275_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u10275 {
  border-width:0px;
  position:absolute;
  left:1113px;
  top:147px;
  width:15px;
  height:15px;
}
#u10275_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10276_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u10276 {
  border-width:0px;
  position:absolute;
  left:1127px;
  top:145px;
  width:27px;
  height:18px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u10276_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  word-wrap:break-word;
}
#u10277_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:25px;
}
#u10277 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:142px;
  width:46px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u10277_img.mouseOver {
}
#u10277.mouseOver {
}
#u10277_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:42px;
  word-wrap:break-word;
}
#u10278_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
}
#u10278 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:142px;
  width:63px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u10278_img.mouseOver {
}
#u10278.mouseOver {
}
#u10278_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  word-wrap:break-word;
}
#u10279_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:25px;
}
#u10279 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:142px;
  width:46px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u10279_img.mouseOver {
}
#u10279.mouseOver {
}
#u10279_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:42px;
  word-wrap:break-word;
}
#u10280_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:25px;
}
#u10280 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:142px;
  width:46px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u10280_img.mouseOver {
}
#u10280.mouseOver {
}
#u10280_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:42px;
  word-wrap:break-word;
}
#u10281_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:25px;
}
#u10281 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:142px;
  width:59px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u10281_img.mouseOver {
}
#u10281.mouseOver {
}
#u10281_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:55px;
  word-wrap:break-word;
}
#u10282_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:44px;
}
#u10282 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:132px;
  width:135px;
  height:44px;
}
#u10282_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
